<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rings</key>
	<dict>
		<key>ring_001.caf</key>
		<string>ring_001.caf</string>
		<key>ring_002.caf</key>
		<string>ring_002.caf</string>
	</dict>
	<key>Colours</key>
	<dict>
		<key>view_bg_colour</key>
		<string>#FFFFFF</string>
		<key>table_header_text_colour</key>
		<string>#000000</string>
		<key>noticeSegmentTintColor</key>
		<string>#106FBC</string>
		<key>notice_textview_background_color</key>
		<string>#f3f3f6</string>
		<key>notice_segment_selected_color</key>
		<string>#1561aa</string>
		<key>tab_bar_tint_color</key>
		<string>#58bcdb</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>tip_succeed</key>
		<string>tip_succeed.png</string>
		<key>tip_error</key>
		<string>tip_error.png</string>
		<key>chat_pre_image</key>
		<string>chat_pre_image.png</string>
		<key>navigation_bar_bg</key>
		<string>navigation_bar_bg.png</string>
		<key>tab_icon_friend</key>
		<string>tab_icon_friend.png</string>
		<key>tab_icon_chat</key>
		<string>tab_icon_chat.png</string>
		<key>tab_icon_group</key>
		<string>tab_icon_group.png</string>
		<key>tab_icon_notice</key>
		<string>tab_icon_notice.png</string>
		<key>tab_icon_setting</key>
		<string>tab_icon_setting.png</string>
		<key>chat_section_header_bg</key>
		<string>chat_section_header_bg.png</string>
		<key>notice_section_header_bg</key>
		<string>notice_section_header_bg.png</string>
		<key>header_bg</key>
		<string>header_bg.png</string>
		<key>searchBar_bg</key>
		<string>searchBar_bg.png</string>
		<key>chat_toolBar_bg</key>
		<string>chat_toolBar_bg.png</string>
		<key>status01_available</key>
		<string>status01_available.png</string>
		<key>status01_away</key>
		<string>status01_away.png</string>
		<key>status01_chat</key>
		<string>status01_chat.png</string>
		<key>status01_dnd</key>
		<string>status01_dnd.png</string>
		<key>status01_offline</key>
		<string>status01_offline.png</string>
		<key>status01_xa</key>
		<string>status01_xa.png</string>
		<key>arrows_01</key>
		<string>arrows_01.png</string>
		<key>section_carat_closed</key>
		<string>section_carat_closed.png</string>
		<key>section_carat_open</key>
		<string>section_carat_open.png</string>
		<key>button_record_press</key>
		<string>button_record_press.png</string>
		<key>button_record_pressed</key>
		<string>button_record_pressed.png</string>
		<key>button_record_press_jp</key>
		<string>button_record_press_jp.png</string>
		<key>button_record_pressed_jp</key>
		<string>button_record_pressed_jp.png</string>
		<key>button_voice_record</key>
		<string>button_voice_record.png</string>
		<key>button_emotion</key>
		<string>button_emotion.png</string>
		<key>button_keyboard</key>
		<string>button_keyboard.png</string>
		<key>button_file_select</key>
		<string>button_file_select.png</string>
		<key>button_text_input</key>
		<string>button_text_input.png</string>
		<key>button_bg_01</key>
		<string>button_bg_01.png</string>
		<key>button_bg_02</key>
		<string>button_bg_02.png</string>
		<key>button_bg_03</key>
		<string>button_bg_03.png</string>
		<key>button_voice_normal</key>
		<string>button_voice_normal.png</string>
		<key>button_voice_active</key>
		<string>button_voice_active.png</string>
		<key>button_video_normal</key>
		<string>button_video_normal.png</string>
		<key>button_video_active</key>
		<string>button_video_active.png</string>
		<key>button_add_01</key>
		<string>button_add_01.png</string>
		<key>button_add_02</key>
		<string>button_add_02.png</string>
		<key>button_logout</key>
		<string>button_logout.png</string>
		<key>button_login</key>
		<string>button_login.png</string>
		<key>emotion_bg</key>
		<string>emotion_bg.png</string>
		<key>recording_status_1</key>
		<string>recording_status_1.png</string>
		<key>recording_status_2</key>
		<string>recording_status_2.png</string>
		<key>recording_status_3</key>
		<string>recording_status_3.png</string>
		<key>recording_status_4</key>
		<string>recording_status_4.png</string>
		<key>chat_bg_image_left</key>
		<string>chat_bg_image_left.png</string>
		<key>chat_bg_image_right</key>
		<string>chat_bg_image_right.png</string>
		<key>chat_voice_status1</key>
		<string>chat_voice_status1.png</string>
		<key>chat_voice_status2</key>
		<string>chat_voice_status2.png</string>
		<key>chat_voice_status3</key>
		<string>chat_voice_status3.png</string>
		<key>chat_voice_status4</key>
		<string>chat_voice_status4.png</string>
		<key>filetype_voice</key>
		<string>filetype_voice.png</string>
		<key>filetype_pdf</key>
		<string>filetype_pdf.png</string>
		<key>filetype_vedio</key>
		<string>filetype_vedio.png</string>
		<key>filetype_picture</key>
		<string>filetype_picture.png</string>
		<key>default_icon</key>
		<string>default_icon.png</string>
		<key>default_group_icon</key>
		<string>default_group_icon.png</string>
		<key>message_status_fail</key>
		<string>message_status_fail.png</string>
		<key>checked</key>
		<string>checked.png</string>
		<key>message_status_unread</key>
		<string>message_status_unread.png</string>
		<key>message_status_completed</key>
		<string>message_status_completed.png</string>
		<key>sr_refresh</key>
		<string>sr_refresh.png</string>
		<key>cell_more</key>
		<string>cell_more.png</string>
		<key>chat_cell_bg</key>
		<string>chat_cell_bg.png</string>
		<key>notice_cell_bg</key>
		<string>notice_cell_bg.png</string>
		<key>notice_received</key>
		<string>notice_received.png</string>
		<key>notice_send</key>
		<string>notice_send.png</string>
		<key>icon_capture</key>
		<string>icon_capture.png</string>
		<key>button_logout_jp</key>
		<string>button_logout_jp.png</string>
	</dict>
</dict>
</plist>
